<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container col-md-3">
    <form (ngSubmit)="consultarClima(form)">
      <div class="input-group mb-3">
        <label class="input-group-text">Pais:</label>
        <select class="custom-select" (change)="resetear()" [(ngModel)]="clima.pais" name="pais">
          <option value="" selected>Elige un pais</option>
          <option value="CL">Chile</option>
          <option value="AR">Argentina</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text">Ciudad:</label>
        <select class="custom-select" (change)="resetear()" [(ngModel)]="clima.ciudad" name="ciudad">
          <option selected value="">Elige una ciudad</option>
          <option *ngIf="clima.pais === 'CL'" value="SANTIAGO">SANTIAGO</option>
          <option *ngIf="clima.pais === 'CL'">ARICA</option>
          <option *ngIf="clima.pais === 'CL'">CHILOE</option>
          <option *ngIf="clima.pais === 'AR'">BUENOS AIRES</option>
          <option *ngIf="clima.pais === 'AR'">SAN JUAN</option>
        </select>
      </div>
      <div>
        <button type="submit" class="btn btn-success">consultar</button>
      </div>
    </form>

  <br/>
  <div class="card bg-dark text-white" *ngIf="maxtmp !== ''">
    <div class="card-header">Temperatura en {{clima.ciudad}}</div>
    <div class="card-body">
    <p> Max. {{maxtmp}} &deg;C</p>
    <p> Min. {{mintmp}} &deg;C</p>
    </div>
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="error !== ''">
    {{error}}
  </div>

</div>

